# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.pdb
*.ilk

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/.vs/Harman-Kyunggi
/poinerSample/.vs/poinerSample/FileContentIndex
/.vs/ProjectSettings.json
/poinerSample/poinerSample/x64/Debug/vc143.idb
/poinerSample/poinerSample/x64/Debug/poinerSample.tlog/link.write.1.tlog
/poinerSample/poinerSample/x64/Debug/poinerSample.tlog/link.command.1.tlog
/poinerSample/poinerSample/x64/Debug/poinerSample.tlog/CL.read.1.tlog
/poinerSample/poinerSample/x64/Debug/poinerSample.tlog/CL.command.1.tlog
/poinerSample/poinerSample/x64/Debug/poinerSample.tlog/CL.write.1.tlog
/poinerSample/poinerSample/x64/Debug/poinerSample.tlog/link.read.1.tlog
/poinerSample/poinerSample/x64/Debug/poinerSample.tlog/poinerSample.lastbuildstate
/poinerSample/poinerSample/x64/Debug/poinerSample.cod
/poinerSample/poinerSample/x64/Debug/poinerSample.Build.CppClean.log
/poinerSample/poinerSample/x64/Debug/poinerSample.exe.recipe
/poinerSample/poinerSample/x64/Debug/poinerSample.log
/poinerSample/.vs/poinerSample/v17/ipch/AutoPCH/a348da4a3727cf3/POINERSAMPLE.ipch
/poinerSample/.vs/poinerSample/v17/.suo
/poinerSample/.vs/poinerSample/v17/Browse.VC.db
/poinerSample/.vs/poinerSample/v17/Browse.VC.db-shm
/poinerSample/.vs/poinerSample/v17/Browse.VC.db-wal
/poinerSample/.vs/poinerSample/v17/Browse.VC.opendb
